@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Poppins", sans-serif;
}

.ant-layout {
  background-color: #fafbfc;
}

.main-wrapper {
  position: relative;
}

.main-wrapper > section {
  margin-left: 250px;
  overflow-y: auto;
}

.main-wrapper > section main.site-layout-background {
  background-color: #fafbfc;
  margin: 2rem 6rem 2rem 2rem;
  padding-top: 2rem;
}

.main-wrapper > section main.site-layout-background .page-header {
  margin: -2rem 0 5rem;
  text-transform: capitalize;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search {
  width: 250px !important;
  border: 0.2px solid #bdbdbd;
  border-radius: 40px;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper {
  border-radius: 40px;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-affix-wrapper {
  border-radius: 40px 0 0 40px;
  border: 0;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-affix-wrapper input::placeholder {
  color: #4f4f4f;
  font-size: 1.2rem;
  line-height: 1.5em;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-affix-wrapper:hover, .main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-affix-wrapper:focus, .main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-affix-wrapperactive {
  border-right-width: unset;
  box-shadow: none;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-group-addon {
  border-radius: 40px;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-group-addon:focus {
  outline: 0;
}

.main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper .ant-input-group-addon button.ant-input-search-button {
  border-radius: 0 40px 40px 0;
  border: none;
}

.main-wrapper > section main.site-layout-background .ant-collapse-item > .ant-collapse-header {
  padding: 0;
}

.main-wrapper > section main.site-layout-background .ant-collapse-content-box {
  padding: 0 !important;
}

.main-wrapper > section main.site-layout-background .ant-collapse-content-box .product-wrapper {
  padding-top: 1rem;
}

.sorter-dropdown,
.action-dropdown {
  border-radius: 4px;
}

.sorter-dropdown ul li,
.action-dropdown ul li {
  text-align: center;
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: 400;
}

.sorter-dropdown ul li:first-of-type,
.action-dropdown ul li:first-of-type {
  background-color: #001427;
  color: #fafbfc;
  border-radius: 4px 4px 0 0;
}

.page-title {
  font-weight: 500;
  color: #001427;
  font-size: 1.2rem;
  line-height: 1.5em;
  margin: 0;
}

.table-header {
  color: #001427;
  font-size: 2.8rem;
  line-height: 1.5em;
  font-weight: 400;
  margin: 0;
}

.text-small {
  font-size: 1rem;
  line-height: 1.5em;
}

.text-normal {
  font-size: 1.4rem;
  line-height: 1.5rem;
}

.text-light {
  color: #4f4f4f;
}

.text-dark {
  color: #001427;
  font-weight: 500;
}

span.company-name, span.product-name, span.delivery-date, span.product-amount, p.total-amount span {
  font-size: 1.3rem;
  line-height: 1.5em;
}

span.company-id, span.product-desc, span.delivery-type, span.status, p.total-amount {
  font-size: 1.15rem;
  line-height: 1.5em;
}

span.company-name {
  color: #001427;
  font-weight: 500;
}

span.company-id {
  color: #4f4f4f;
}

span.company-id span {
  color: #001427;
  font-weight: 500;
}

span.status {
  margin: 4px;
  border-radius: 10px;
  color: #001427;
}

span.product-name {
  color: #001427;
}

span.product-desc {
  color: #4f4f4f;
}

span.delivery-date {
  color: #001427;
}

span.delivery-type {
  color: #4f4f4f;
}

span.status {
  color: #001427;
}

span.product-amount {
  margin-right: 5rem;
  margin-left: 3rem;
  color: #4f4f4f;
}

span.product-amount span {
  color: #001427;
  font-weight: 500;
  margin-left: 1rem;
}

p.total-amount {
  font-weight: 500;
  color: #001427;
  margin: 0 5rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

p.total-amount span {
  color: #4f4f4f;
  margin-left: 1rem;
}

p.total-amount span span {
  color: #001427;
  font-weight: 500;
}

.ant-divider-horizontal {
  margin-bottom: 0.5rem;
}

header.header {
  padding: 1.5rem 5rem;
  height: fit-content;
  background: #fff;
  color: #001427;
  line-height: normal;
  display: flex;
  align-items: center;
}

header.header .content-wrapper {
  align-items: center;
  line-height: normal;
  width: 100%;
}

header.header .content-wrapper .header-content {
  width: 15%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header.header .content-wrapper .header-content p {
  margin: 0;
}

#side-nav {
  background-color: #fff;
  overflow-y: auto;
  overflow-x: hidden;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 250px !important;
  max-width: 250px !important;
  position: absolute;
  z-index: 100;
}

#side-nav ul {
  height: calc(100% - 3rem);
  margin-top: 3rem;
}

#side-nav ul li {
  padding-left: 5rem !important;
}

#side-nav ul li.ant-menu-item-selected {
  background-color: #001427;
  border-radius: 0 8px 8px 0;
}

#side-nav ul li::after {
  display: none;
}

#side-nav ul li a:hover {
  color: #000;
}

#side-nav ul li a.active {
  color: #fffafa;
}

#mobile-nav {
  position: fixed;
  z-index: 99999;
  bottom: 0;
  left: 0;
  width: 100%;
  height: fit-content;
  display: none;
  box-shadow: 0 0px 2.1px rgba(0, 0, 0, 0.035), 0 0px 17px rgba(0, 0, 0, 0.07);
}

#mobile-nav ul {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1rem 0;
}

#mobile-nav ul li {
  text-align: center;
}

#mobile-nav ul li.ant-menu-item-selected {
  color: #001427;
  background-color: inherit;
}

#mobile-nav ul li::after {
  display: none;
}

#mobile-nav ul li a {
  color: #bdbdbd;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#mobile-nav ul li a:hover {
  color: #000;
}

#mobile-nav ul li a.active {
  color: #001427;
}

#placed-orders .sorting-options {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding-bottom: 1.5rem;
}

#placed-orders .sorting-options > div {
  width: 20rem;
  text-align: left;
  display: flex;
}

#placed-orders .sorting-options > div .ant-select {
  flex-grow: 1;
}

#placed-orders {
  text-transform: capitalize;
}

#placed-orders .site-page-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
  align-items: flex-end;
}

#placed-orders .site-page-header span {
  color: #666;
  font-size: 1.4rem;
  line-height: 1.5em;
  font-weight: 400;
}

#placed-orders .site-page-header span svg {
  margin-right: 0.5rem;
}

#placed-orders table {
  background-color: #fafbfc;
  box-shadow: 0 0px 2.1px rgba(0, 0, 0, 0.035), 0 0px 17px rgba(0, 0, 0, 0.07);
}

#placed-orders table thead {
  text-transform: uppercase;
}

#placed-orders table thead tr th {
  color: #4f4f4f;
  font-size: 1.2rem;
  line-height: 1.5em;
  font-weight: 400;
}

#placed-orders table tbody tr {
  vertical-align: top;
  cursor: pointer;
}

#placed-orders table tbody tr:nth-of-type(odd) {
  background-color: #fff;
}

#placed-orders table tbody tr td {
  background-color: inherit;
}

#placed-orders table tbody tr td .product-wrapper {
  display: flex;
}

#placed-orders table tbody tr td .product-wrapper .product-image {
  height: 35px;
  width: 35px;
  margin-right: 1rem;
}

#placed-orders table tbody tr td .product-wrapper .product-image img {
  max-width: 100%;
}

#placed-orders table tbody tr td .product-wrapper .product-details {
  display: flex;
  flex-direction: column;
}

#placed-orders table tbody tr td .image-placeholder {
  height: 35px;
  width: 35px;
  margin-right: 1rem;
  color: #4f4f4f;
  background: #fff;
}

#overview-table {
  display: none;
}

#overview-table table {
  width: 100%;
}

#overview-table table thead tr th {
  padding: 1.5rem 3rem;
}

#overview-table table tbody tr td {
  padding: 1rem 3rem;
}

#overview-table table tbody tr td span.product-amount {
  margin: 0 !important;
}

#overview-table table tbody tr td span.delivery-date {
  font-size: 1.3rem;
}

#overview-table table tbody tr td .product-info-cell {
  display: flex;
  align-items: center;
}

#overview-table table tbody tr td .product-info-cell .status-badge .ant-badge-dot {
  position: unset;
  width: 10px;
  height: 10px;
}

#overview-table table tbody tr td .product-info-cell .status-badge ~ span {
  margin-left: 2rem;
}

.ant-modal-content {
  border-radius: 1.2rem;
}

.ant-modal-content #more-info {
  padding: 3rem;
  text-transform: capitalize;
}

.ant-modal-content #more-info > div {
  display: flex;
  margin-bottom: 3rem;
}

.ant-modal-content #more-info .buyer-info {
  justify-content: space-between;
  align-items: flex-start;
}

.ant-modal-content #more-info .buyer-info > div {
  display: flex;
  align-items: center;
  flex-basis: 50%;
}

.ant-modal-content #more-info .buyer-info > div div {
  margin-left: 2rem;
}

.ant-modal-content #more-info .delivery-info {
  display: block;
}

.ant-modal-content #more-info .products-wrapper {
  flex-direction: column;
  margin: 0;
}

.ant-modal-content #more-info .products-wrapper span.product-amount {
  margin: 0;
}

.ant-modal-content #more-info .products-wrapper span.product-amount span {
  margin-left: 1rem;
}

.ant-modal-content #more-info .products-wrapper > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.ant-modal-content #more-info .products-wrapper > div.ant-divider-horizontal {
  min-width: 50%;
  width: 50%;
  align-self: flex-end;
}

.ant-modal-content #more-info .products-wrapper p {
  text-align: right;
  margin: 0;
}

.ant-modal-content #more-info .footer {
  margin: 2rem 0 0;
}

.ant-modal-content #cancel-modal,
.ant-modal-content #result {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.ant-modal-content #cancel-modal p,
.ant-modal-content #cancel-modal .close-icon,
.ant-modal-content #result p,
.ant-modal-content #result .close-icon {
  margin: 1rem 0;
}

.ant-modal-content #cancel-modal .footer,
.ant-modal-content #result .footer {
  margin-top: 2rem;
  text-align: center;
}

.ant-modal-content .footer {
  display: flex;
  align-items: center;
  justify-content: center;
}

.ant-modal-content .footer button {
  color: #001427;
  text-transform: uppercase;
  margin: 0 1rem;
  border-radius: 4px;
}

.ant-modal-content .footer button:focus, .ant-modal-content .footer button:hover {
  transform: scale(0.97);
  color: #001427;
  border-color: #d9d9d9;
}

.ant-modal-content .footer button:active {
  color: #001427;
}

.ant-modal-content .footer button.cancel {
  border: none;
  background-color: #f08989;
}

.product-card-wrapper {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}

.product-card-wrapper .product-card {
  border: 1px solid #eaeaea;
  margin: 3rem 1.5rem;
  padding: 2rem;
}

.product-card-wrapper .product-card .image-wrapper {
  width: 150px;
  height: 120px;
}

.product-card-wrapper .product-card .image-wrapper img {
  width: 100%;
  height: 100%;
  border-radius: 16px;
}

@media screen and (max-width: 1100px) {
  header.header .content-wrapper .header-content {
    width: 20%;
  }
  #side-nav {
    display: none;
  }
  #mobile-nav {
    display: block;
  }
  .main-wrapper > section {
    margin: 0px;
  }
  .main-wrapper > section main.site-layout-background {
    margin: 4rem;
  }
}

@media screen and (max-width: 900px) {
  .extended-table {
    display: none;
  }
  #overview-table {
    display: block;
  }
}

@media screen and (max-width: 700px) {
  header.header .content-wrapper .header-content {
    width: 30%;
  }
}

@media screen and (max-width: 500px) {
  header.header .content-wrapper .header-content {
    justify-content: flex-end;
  }
  header.header .content-wrapper .header-content > div:not(.profile-picture) {
    display: none;
  }
  .main-wrapper > section main.site-layout-background .page-header {
    flex-direction: column;
    align-items: flex-start;
  }
  .main-wrapper > section main.site-layout-background .page-header .ant-input-search {
    margin: 1.5rem 0 0 !important;
    width: 93% !important;
    border: none;
    box-shadow: 0 0px 2.1px rgba(0, 0, 0, 0.035), 0 0px 17px rgba(0, 0, 0, 0.07);
  }
  .main-wrapper > section main.site-layout-background .page-header .ant-input-search .ant-input-wrapper {
    display: flex;
    justify-content: flex-end;
  }
  #overview-table table thead tr th {
    padding: 1rem 1.5rem;
  }
  #overview-table table thead tr th:last-of-type {
    text-align: right;
  }
  #overview-table table tbody tr td {
    padding: 1rem 1.5rem;
  }
  #overview-table table tbody tr td.product-info-cell {
    justify-content: flex-end;
  }
  #more-info {
    padding: 3rem 0;
  }
}

@media screen and (max-width: 400px) {
  header.header {
    padding: 1.5rem 2rem;
  }
  .main-wrapper > section main.site-layout-background {
    margin: 2rem;
  }
  #order-table .site-page-header span {
    font-size: 1.3rem;
  }
  #order-table table thead tr th {
    font-size: 1.2rem;
  }
  #overview-table table tbody tr td.product-info-cell .status-badge ~ span {
    text-align: right;
  }
  #mobile-nav ul li {
    font-size: 1.2rem;
    padding: 0 0.5rem !important;
  }
  .table-header {
    font-size: 2.4rem;
  }
  span.company-name, span.product-name, span.delivery-date, span.product-amount, p.total-amount span {
    font-size: 1.3rem;
  }
  span.company-id, span.product-desc, span.delivery-type, span.status, p.total-amount {
    font-size: 1.2rem;
  }
}
