* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: "Poppins", sans-serif;
}
.ant-layout {
    background-color: #fafbfc;
}
.main-wrapper {
    position: relative;

    > section {
        margin-left: 250px;
        overflow-y: auto;

        main.site-layout-background {
            background-color: #fafbfc;
            margin: 2rem 6rem 2rem 2rem;
            padding-top: 2rem;

            .page-header {
                margin: -2rem 0 5rem;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: space-between;
            }

            .ant-collapse-item {
                > .ant-collapse-header {
                    padding: 0;
                }
            }

            .ant-collapse-content {
                &-box {
                    padding: 0 !important;

                    .product-cell {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}
.sorter-dropdown,
.action-dropdown {
    border-radius: 4px;

    ul {
        li {
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.5em;
            font-weight: 400;

            &:first-of-type {
                background-color: $primary;
                color: #fafbfc;
                border-radius: 4px 4px 0 0;
            }
        }
    }
}
