* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 10px;
}
body {
    font-family: "Poppins", sans-serif;
}
.ant-layout {
    background-color: #fafbfc;
}
.main-wrapper {
    position: relative;

    > section {
        margin-left: 250px;
        overflow-y: auto;

        main.site-layout-background {
            background-color: #fafbfc;
            margin: 2rem 6rem 2rem 2rem;
            padding-top: 2rem;

            .page-header {
                margin: -2rem 0 5rem;
                text-transform: capitalize;
                display: flex;
                align-items: center;
                justify-content: space-between;

                .ant-input-search {
                    width: 250px !important;
                    border: 0.2px solid #bdbdbd;
                    border-radius: 40px;

                    .ant-input-wrapper {
                        border-radius: 40px;

                        .ant-input-affix-wrapper {
                            border-radius: 40px 0 0 40px;
                            border: 0;

                            input {
                                &::placeholder {
                                    color: $light;
                                    font-size: 1.2rem;
                                    line-height: 1.5em;
                                }
                            }

                            &:hover,
                            &:focus,
                            &active {
                                border-right-width: unset;
                                box-shadow: none;
                            }
                        }

                        .ant-input-group-addon {
                            border-radius: 40px;

                            &:focus {
                                outline: 0;
                            }

                            button.ant-input-search-button {
                                border-radius: 0 40px 40px 0;
                                border: none;
                            }
                        }
                    }
                }
            }

            .ant-collapse-item {
                > .ant-collapse-header {
                    padding: 0;
                }
            }

            .ant-collapse-content {
                &-box {
                    padding: 0 !important;

                    .product-wrapper {
                        padding-top: 1rem;
                    }
                }
            }
        }
    }
}
.sorter-dropdown,
.action-dropdown {
    border-radius: 4px;

    ul {
        li {
            text-align: center;
            font-size: 1.2rem;
            line-height: 1.5em;
            font-weight: 400;

            &:first-of-type {
                background-color: $primary;
                color: #fafbfc;
                border-radius: 4px 4px 0 0;
            }
        }
    }
}
