@import '~antd/dist/antd.less';

@l1: 64px;
@primary-color: @green-6;

.l1-height {
  height: @l1;
}

.l1-width {
  width: @l1;
}

.logo {
    width: 120px;
    height: 31px;
    background: url("../../images/logo.png");
    margin: 16px 24px 16px 0;
    float: left;
}

.ant-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  color: @primary-color;
}

.centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.content {
  padding: 24px 24px 24px;
  &.opened {
  }
  &.closed {
    margin-left: 0px;
  }
}

.site-page-header {
  padding: 0px;
  .ant-page-header-heading-title {
    font-weight: normal;
  }
  .ant-avatar {
    color: #f8af17 !important;
    background: #ffeecc !important;
  }
}

.site-devider {
  &.after-header {
    margin: 10px 0px 200px;
  }
}

@media only screen and (min-width: 1200px) {
  .content.opened {
    margin-left: 200px; 
  }
}