#placed-orders {
    .sorting-options {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: 1.5rem;

        & > div {
            width: 20rem;
            text-align: left;
            display: flex;

            .ant-select {
                flex-grow: 1;
            }
        }
    }
}

@import "./orderTable";
@import "./overviewTable";
@import "./modals";
