#order-table {
    text-transform: capitalize;

    .site-page-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        align-items: flex-end;

        span {
            color: #666;
            font-size: 1.4rem;
            line-height: 1.5em;
            font-weight: 400;

            svg {
                margin-right: 0.5rem;
            }
        }
    }

    table {
        background-color: #fafbfc;
        box-shadow: 0 0px 2.1px rgba(0, 0, 0, 0.035),
            0 0px 17px rgba(0, 0, 0, 0.07);

        thead.ant-table-thead {
            text-transform: uppercase;
            tr {
                th {
                    color: $light;
                    font-size: 1.4rem;
                    line-height: 1.5em;
                    font-weight: 400;

                    .product-title {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .product-amount {
                            margin-right: 5rem;
                        }
                    }
                }
            }
        }

        tbody.ant-table-tbody {
            %shared-dark-font-style {
                font-size: 1.6rem;
                line-height: 1.5em;
            }

            %shared-light-font-style {
                font-size: 1.4rem;
                line-height: 1.5em;
            }

            tr {
                vertical-align: top;

                &:nth-of-type(odd) {
                    background-color: #fff;
                }
                td {
                    background-color: inherit;

                    span.buyer-name {
                        @extend %shared-dark-font-style;
                        color: $dark;
                        font-weight: 400;
                    }

                    span.buyer-id {
                        @extend %shared-light-font-style;
                        color: $light;

                        span {
                            color: $dark;
                            font-weight: 500;
                        }
                    }

                    span.status {
                        margin: 4px;
                        border-radius: 10px;
                        color: $primary;
                    }

                    span.product-name {
                        @extend %shared-dark-font-style;
                        color: $dark;
                    }

                    span.product-desc {
                        @extend %shared-light-font-style;
                        color: $light;
                    }

                    span.delivery-date {
                        @extend %shared-dark-font-style;
                        color: $dark;
                    }

                    span.delivery-type {
                        @extend %shared-light-font-style;
                        color: $light;
                    }

                    span.status {
                        @extend %shared-light-font-style;
                        color: $dark;
                    }

                    .product-cell,
                    .collapsible-header {
                        display: flex;
                        justify-content: space-between;
                        width: 100%;

                        .product-amount {
                            @extend %shared-dark-font-style;
                            margin-right: 5rem;
                            color: $light;

                            span {
                                color: $dark;
                                font-weight: 500;
                                margin-left: 1rem;
                            }
                        }
                    }

                    .ant-collapse-content {
                        &-box {
                            p.total-amount {
                                @extend %shared-light-font-style;
                                font-weight: 500;
                                color: $dark;
                                margin: 0 5rem;
                                display: flex;
                                justify-content: flex-end;

                                span {
                                    @extend %shared-dark-font-style;
                                    color: $light;
                                    margin-left: 1rem;

                                    span {
                                        color: $dark;
                                        font-weight: 500;
                                        margin-left: 1rem;
                                    }
                                }
                            }

                            .ant-divider-horizontal {
                                margin-bottom: 0.5rem;
                            }
                        }
                    }
                }
            }
        }
    }
}

main {
    .page-header {
        .ant-input-search {
            width: 250px !important;
            border: 0.2px solid #bdbdbd;
            border-radius: 40px;

            .ant-input-wrapper {
                border-radius: 40px;

                .ant-input-affix-wrapper {
                    border-radius: 40px 0 0 40px;
                    border: 0;

                    input {
                        &::placeholder {
                            color: $light;
                            font-size: 1.2rem;
                            line-height: 1.5em;
                        }
                    }

                    &:hover,
                    &:focus {
                        border-right-width: unset;
                        box-shadow: none;
                    }
                }

                .ant-input-group-addon {
                    border-radius: 40px;

                    &:focus {
                        outline: 0;
                    }

                    button.ant-input-search-button {
                        border-radius: 0 40px 40px 0;
                        border: none;
                    }
                }
            }
        }
    }
}
